body {
  margin-top: 30px;
  padding: 0;
  text-align: center;
  font-family: Arial;
  background-image: url("../IMG/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#Active {
  color: #3bd8ff;
}

.HeadContent {
  margin: 0 auto;
  display: flex;
  width: 80%;
  color: #FFF;
}
.HeadContent .Logo {
  width: 30%;
}
.HeadContent .Logo h4 {
  margin-left: -100px;
}
.HeadContent .List {
  width: 70%;
}
.HeadContent .List ul {
  margin-top: 20px;
  display: flex;
  float: right;
  list-style: none;
}
.HeadContent .List ul li {
  padding: 5px 20px;
}
.HeadContent .List ul li a {
  text-decoration: none;
  color: #FFF;
}

.SIGNUP {
  width: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 15px 15px 15px rgba(0,0,0,0.3)
}
.SIGNUP .Content {
  padding-top: 50px;
}
.SIGNUP form {
  width: 100%;
  background-color: #FFFFFF;
}
form input {
  width: 70%;
  margin: 15px;
  border: none;
  outline: none;
  border-bottom: 1px solid #000;
}
.Btn {
  margin-bottom: 50px;
  margin-top: 30px;
}
.Btn button {
  width: 70%;
  border: none;
  outline: none;
  padding: 5px 0px;
}
.Btn button:hover {
  background-color: #343A40;
  outline: none;
  color: #FFF;
}

.GoBack {
  padding-bottom: 20px;
}
.GoBack i, .GoBack a {
  color: #000;
  text-decoration-color: #000;
}